@model LoanProgram.Models.ConsultantDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Remove Team Member</h2>

<div>
    <h4>Are you sure you want to delete @Html.DisplayFor(model => model.FirstName) from list of employees?</h4>
    <hr />
    <dl class="dl-horizontal col-md-offset-4">
        @*<dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeWith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeWith)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<center>
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
</center>
    }
</div>
